{% extends 'base.html' %}
{% load staticfiles %}
 <link href="{% static 'css/casv.css' %}" rel="stylesheet">

{% block page_title %}
    <h1>Anuências Concedidas</h1>
{% endblock page_title %}

{% block content %}
{% load i18n %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Anuências Concedidas Mata Atlântica</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
            {% for item in dados%}
                <li class="list-group-item">
                    <strong><a href="{% url 'core:ibama-concedidos-dados' item.processo %}" >{{item.processo }}</a></strong> - Modificado por <strong>{{item.cpf_modificacao_ibama}}</strong> - {{ item.data_modificacao_ibama|date:"d M Y" }}
                </li>

            {% empty %}
              <div class="alert alert-warning" role="alert">{% trans 'You did not upload any files of this type yet.' %}</div>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}