{% extends "base.html" %}
{% load i18n %}

{% block page_title %}
	{% trans 'Delete' %} Pedido de Anuência - Mata Atlântica {{ processo }}?
{% endblock %}

{% block content%}
<p>{% trans 'Are you sure you want to delete' %} <strong>{{ processo }}</strong>?</p>
	<form action="{% url 'core:ibama-delete' processo %}" method="post">{% csrf_token %}
	  <button class="btn btn-success" type="submit">{% trans 'Yes' %}</button>
	  <a class="btn btn-danger" href="{% url 'core:ibama-list' %}">{% trans 'No' %}</a>
	</form>
{% endblock %}