{% extends "core/object_detail.html" %}
{% load i18n %}

{% block page_title %}<h2>Anuência Concedida - Mata Atlântica: {{ dados_anuencia.pk }}</h2>{% endblock page_title %}

{% block detail %}

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Processo</h4>
        <p class="list-group-item-text">{{ dados_anuencia.processo }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">UF</h4>
        <p class="list-group-item-text">{{ dados_anuencia.uf }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Município</h4>
        <p class="list-group-item-text">{{ dados_anuencia.municipio }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Empreendedor</h4>
        <p class="list-group-item-text">{{ dados_anuencia.empreendedor }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Tipo de Empreendimento</h4>
        <p class="list-group-item-text">{{ dados_anuencia.tipo_empreendimento }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">CPF ou CNPJ do Empreendedor</h4>
        <p class="list-group-item-text">{{ dados_anuencia.cpfj }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Área (ha)</h4>
        <p class="list-group-item-text">{{ pedido_anuencia_area_ha }}</p>
    </a>

    {% if is_concedida %}
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Área (ha) - Anuência Concedida</h4>
            <p class="list-group-item-text">{{ anuencia_concedida_area_ha }}</p>
        </a>
    {% endif %}

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Área de Supressão de Empreendimento Primária (ha)</h4>
        <p class="list-group-item-text">{{ dados_anuencia.area_empreendimento_veg_primaria }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Área de Empreendimento em Estágio Médio (ha)</h4>
        <p class="list-group-item-text">{{ dados_anuencia.area_empreendimento_estagio_medio }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Área de Empreendimento em Estágio Avançado (ha)</h4>
        <p class="list-group-item-text">{{ dados_anuencia.area_empreendimento_estagio_avancado }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Usuário</h4>
        <p class="list-group-item-text">{{ dados_anuencia.usuario }}</p>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Observações</h4>
        <p class="list-group-item-text">{{ dados_anuencia.observacao}}</p>
    <a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Data de criação</h4>
        <p class="list-group-item-text">{{ dados_anuencia.data_criacao }}</p>
    </a>

    {% if dados_anuencia.status %}
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Status</h4>
            <p class="list-group-item-text">{{ dados_anuencia.status }}</p>
        </a>
    {% endif %}
    
    <br/>
    <a class="btn btn-danger" href="{% url 'core:ibama-delete' dados_anuencia.processo %}"><span class="glyphicon glyphicon-remove"></span> {% trans 'Delete' %}</a>

    <br/><br/><br/>
    
{% endblock detail %}

{% block extra_js %}
    {% include "core/map.html" with pk=dados_anuencia.processo geojson_url="core:geo-pedido_anuencia" geojson_url_anuencia_concedida="core:geo-anuencia_concedida" %}
{% endblock extra_js %}
