{% extends 'base.html' %}
{% load staticfiles %}
 <link href="{% static 'css/casv.css' %}" rel="stylesheet">

{% block page_title %}
    <h1>Em Análise</h1>
{% endblock page_title %}

{% block content %}
{% load i18n %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Autorização de Supressão de Vegetação</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
            
            {% for item in in_analisys%}
                <li class="list-group-item">
                    <strong><a href="{% url 'core:ibama-geo' item.processo %}" >{{ item.processo }} </a></strong>
                     - {{ item.data_criacao|date:"d M Y" }}
                    

                    <a class="pull-right" href="{% url 'core:ibama-concessao' item.processo %}">
                      <span class="text-success glyphicon glyphicon-check"></span>
                    </a>
                </li>
            {% empty %}
              <div class="alert alert-warning" role="alert">{% trans 'You did not upload any files of this type yet.' %}</div>
            {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}