{% extends "base.html" %}
{% load i18n %}


<h1>{% block page_title %}{% trans 'Upload a shape file' %}{% endblock page_title %}</h1>

{% block content %}

    {% if uploaded %}
      {% if success %}

        <div class="alert alert-success" role="alert">
          {% blocktrans count quantity=quantity %}
            You uploaded {{ quantity }} item of {{ type }}.
          {% plural %}
            You uploaded {{ quantity }} items of {{ type }}.
          {% endblocktrans %}
        </div>
      
      {% else %}
        
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
      
      {% endif %}
    {% endif %}

    <p>
      <p>Faça upload de um arquivo zip contendo os arquivos shp, dbf, shx e prj. Veja os
      <a href='{% url 'core:file-models' %}'>{% trans 'file models.' %}</a>
    </p>

    <form enctype="multipart/form-data" action="{% url 'core:upload' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
    
        <input class="btn btn-primary" type="submit" id="enviar" value="Enviar" />
    </form>
{% endblock content %}
{% block extra_js %}
    {% include 'core/validate.html' %}
{% endblock extra_js %}