{% extends "base.html" %}
{% load i18n %}


<h1>{% block page_title %}{% blocktrans %}Uploads of the user{% endblocktrans %} {{ user.first_name }}{% endblock page_title %}</h1>

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Autorização de Supressão de Vegetação</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for item in user.asv.all %}
          <li class="list-group-item"><strong><a href="{% url 'core:asv' item.pk %}" >Processo: {{ item }} </a></strong> - {{ item.data_criacao|date:"d M Y" }}</li>
          <!-- <li class="list-group-item"><strong><a href="{% url 'core:asv' item.pk %}" >{% trans 'Process' %}: {{ item }} </a></strong> - {{ item.data_criacao|date:"d M Y" }}</li> -->
        {% empty %}
          <div class="alert alert-warning" role="alert">{% trans 'You did not upload any files of this type yet.' %}</div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Autorização de Supressão de Vegetação - Mata Atlântica</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for item in user.asvma.all %}
          <li class="list-group-item"><strong><a href="{% url 'core:asvma' item.pk %}" >Processo: {{ item }}</a></strong> - {{ item.data_criacao|date:"d M Y" }}</li>
          <!-- <li class="list-group-item"><strong><a href="{% url 'core:asvma' item.pk %}" >{% trans 'Process' %}: {{ item }}</a></strong> - {{ item.data_criacao|date:"d M Y" }}</li> -->
        {% empty %}
          <div class="alert alert-warning" role="alert">{% trans 'You did not upload any files of this type yet.' %}</div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Área de Compensação - Mata Atlântica</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for item in user.compensacao.all %}
          <li class="list-group-item"><strong><a href="{% url 'core:compensacao' item.pk %}" >Processo: {{ item }}</a></strong> - {{ item.data_criacao|date:"d M Y" }}</li>
          <!-- <li class="list-group-item"><strong><a href="{% url 'core:compensacao' item.pk %}" >{% trans 'Process' %}: {{ item }}</a></strong> - {{ item.data_criacao|date:"d M Y" }}</li> -->
        {% empty %}
          <div class="alert alert-warning" role="alert">{% trans 'You did not upload any files of this type yet.' %}</div>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Área de Soltura de Animais Silvestres</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        {% for item in user.area_soltura.all %}
          <li class="list-group-item"><strong><a href="{% url 'core:areasoltura' item.pk %}" >Processo: {{ item }}</a></strong> - {{ item.data_criacao|date:"d M Y" }}</li>
          <!-- <li class="list-group-item"><strong><a href="{% url 'core:areasoltura' item.pk %}" >{% trans 'Process' %}: {{ item }}</a></strong> - {{ item.data_criacao|date:"d M Y" }}</li> -->
        {% empty %}
          <div class="alert alert-warning" role="alert">{% trans 'You did not upload any files of this type yet.' %}</div>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}
