<p>Prezado(a),</p>

<p>Convidamos o Sr(a). a inscrever-se no CASV - Cadastro de Autorização de
Supressão de Vegetação.</p>

<p>Este sistema tem como objetivo receber o shapefile das áreas que foram
autorizadas a supressão da vegetação, mediante documento obrigatório emitidos
pelos estados. A partir da compilação destas informações, o Centro de
Sensoriamento Remoto do IBAMA (CSR/IBAMA) controla e desconta, das estatísticas
de desmatamento, as áreas onde o desmate foi autorizado.</p>

<p>Seu cadastro pode ser realizado por meio do seguinte formulário:
<a href="http://siscom.ibama.gov.br/casv/register/">http://siscom.ibama.gov.br/casv/register/</a></p>

<p>Atenciosamente,</p>
<p>Centro de Sensoriamento Remoto do IBAMA (CSR/IBAMA)</p>