{% extends "base.html" %}
{% load i18n %}


<h1>{% block page_title %}{% trans 'Upload a shape file' %}{% endblock page_title %}</h1>

{% block content %}
    {% if uploaded %}
      {% if success %}
        <div class="alert alert-success" role="alert">
          {% blocktrans %}You uploaded {{ quantity }} item{{ quantity|pluralize }} of {{ type }}{% endblocktrans %}
        </div>
      {% else %}
        <div class="alert alert-danger" role="alert">
          {% blocktrans %}The shapefile you sent is not in one of the defined formats.{% endblocktrans %}
        </div>
      {% endif %}
    {% endif %}

    <p>{% blocktrans %}Upload a zip file containing the shp, pbf, shx and prj.{% endblocktrans %}</p>

    <form enctype="multipart/form-data" action="{% url 'core:upload' %}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Enviar" />
    </form>
{% endblock content %}
